<main>
   <section class="head cards">

        <div class="card text-start wcard">
        <div class="card-body">
            <div class="row">
                <div class="col-6 titleC">SALDO GENERAL ENCUENTAS</div>
                <div class="col-6 price">$ 2,000.00</div>
            </div>
        </div>
        </div>
        
        <div class="card text-start wcard">
        <div class="card-body">
            <div class="row">
                <div class="col-6 titleC">TOTAL DE INGRESOS</div>
                <div class="col-6 price2">$ 8,000.00</div>
            </div>
        </div>
        </div>
        
        <div class="card text-start wcard">
        <div class="card-body">
            <div class="row">
                <div class="col-6 titleC">TOTAL DE GASTOS</div>
                <div class="col-6 price2">$ 2,000.00</div>
            </div>
        </div>
        </div>
        
   </section>
   <section class="margen">
        <div class="row">
            <div class="col-12 col-md-2 mt-5 cuentas">
                <h5>MIS CUENTAS</h5>
                <!-- Tarjetas de Movimeintos -->
                <div class="card mb-3 tCard">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title titleCard">Activa</h5>
                            <span class="cantCard">$ 1,500.00</span>
                        </div>
                        <p class="card-text">5439 - 2401 - 1234 - 1234
                        <br>
                        Berenice Garcia López
                        <br>
                        Titular</p>
                        <img class="mcImg" src="assets/img/mc.png" alt="MasterCard">
                    </div>
                </div>
                
                <div class="card mb-3 tCard2">
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title titleCard">Desactiva</h5>
                            <span class="cantCard2">$ 1,500.00</span>
                        </div>
                        <p class="card-text">5439 - 2401 - 1234 - 1234
                        <br>
                        Lilly Silva Martinez
                        <br>
                        Titular</p>
                        <img class="mcImg" src="assets/img/mc.png" alt="MasterCard">
                    </div>
                </div>

                <button type="button" class="btn btn-block btn-outline-success">AGREGAR TARJETA <i class="fa fa-plus"></i></button>

                    
                <!-- Tarjetas de Movimeintos -->

            </div>
            <div class="col-12 col-md-auto mt-5 movimientos">
                <h5>MOVIMIENTOS</h5>
                <!-- Tabla Movimientos -->
                <table class="table tMovimientos">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <th scope="row">10/06/2019</th>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquam numquam ex officiis ipsam ea enim, assumenda sint impedit ut quas perferendis architecto.</td>
                            <td>$800.00</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Tabla Moviemintos -->
            </div>
        </div>
   </section>
</main>