<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="Bankapp">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="home">MIS CUENTAS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="dinero">ENVIAR DINERO</a>
            </li>
          </ul>
          <div class="datos">
              <ul *ngIf="cuenta">
                  <li class="text-right nombre"> {{Cuenta.cuenta[0].nombre}} </li>
                  <li class="text-right fecha"> Último inicio: {{Cuenta.cuenta[0].ultima_sesion | date:'shortDate'}} </li>
              </ul>
          </div>
        </div>
      </nav>