<section>
    <div class="row">
        <div class="col-12 col-md-6 izq">
            <span> <strong>BankApp</strong> </span>
            <span> <strong>Porwered by Conecta México</strong> </span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cumque porro perferendis eligendi, harum sit quidem animi. Voluptates aperiam.</p>
        </div>
        <div class="col-12 col-md-6 der">
            <img src="assets/img/logoBN.png" alt="LogoBN">
        </div>
    </div>
</section>